<div class="shopping-list-container">
  <h1>Shopping List</h1>
  <div class='shopping-list-details'>
    <p>
      Amount of Food Items to Buy: <%= @food_items %>
    </p>
    <p>
      Total value for all items: $<%= @food_value %>
    </p>
  </div>

  <div class='shopping-list-foods'>
    <%= render partial: '_partials/general_shopping_lists/general_table' %>
  </div>
</div>