<div class='public-recipes-container'>
  <h2>Public Recipes</h2>
  <div class='public-recipes-list'>
    <% if @recipes.empty? %>
      <h2>No recipes to show </h2>
    <% else %>
      <% @recipes.each do |recipe| %>
        <div class='recipe-wrapper'>
          <%= render 'public_recipes/public_recipes', recipe: recipe %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>