<%= link_to recipe_path(recipe.id) do %>
  <div class='recipe-short'>
    <div class='recipe-left'>
      <div class='recipe-title'>
        <%= recipe.name %>
      </div>
      <div class='recipe-remove'>
        <%= link_to 'REMOVE', recipe_path(recipe.id), method: 'delete' %>
      </div>
    </div>
    <div class='recipe-right'>
      <p>
        Description: <%= recipe.description %>
      </p>
    </div>
  </div>
<% end%>
