<div class='recipe-short'>
  <div class='recipe-left'>
    <div class='recipe-title'>
      <%= recipe.name %>
    </div>
    <div class='recipe-remove'>
      <%= link_to 'REMOVE', recipe_path(recipe.id), method: :destroy %>
    </div>
  </div>
  <div>
    <p>
      <%= recipe.description %>
    </p>
  </div>
</div>