
<div class="d-flex flex-column align-items-end">
  <%= link_to new_food_path do %>
    <button type="button" class="">Add Food</button>
  <% end %>
  
  <%= render partial: '_partials/foods/food_table' %>
</div>
