.food-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d-flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

.align-items-end {
  align-items: flex-end;
}